.input {

  padding:5px 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 14px;
  background: #fafafa;
  outline: none;
  color: black; 
}

.input:focus {
  border-color: #b04c4c; /* cor do teu tema */
  background: white;
  box-shadow: 0 0 0 2px rgba(176, 76, 76, 0.2);
}

.input::placeholder {
  color: #000000;
  
}
.products {
  border: 3px solid #c9c9c9; /* cor tipo café */
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  background: #fff;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}

/* Página */
.products-page {
  padding: 0px 20px;
  display: flexbox;
}

/* Botão adicionar produto (apenas admin) */
.btn-add-product {
  padding: 10px 20px;
  background: black;
  color: white;
  border-radius: 6px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
}

/* Lista */
.product-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 18px; /* espaçamento acima */
  margin-bottom: 20px; /* espaçamento abaixo */
}

/* Cartões */
.product-card {
  margin-top: 0px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: -8px;
}

.product-description {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #a7a5a5;
}

.product-price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 8px;
  color: #000000;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.modal-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Botões modal */
.btn-create {
  padding: 10px;
  background: rgb(38, 0, 255);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.btn-cancel {
  padding: 10px;
  background: #ddd;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
