@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f7fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #e91111;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5em;
  line-height: 1.8;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  background-color: #04da24;
  color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #2ec201;
}
button:focus,
button:focus-visible {
  outline: 8px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #472121;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
